@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    color: #0D1929;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: aliceblue;
}